:root {
    --orange: orange;
}

body {
    margin: 0;
    height: 100vh;
    display: flex;
    font-family: 'Times New Roman', Times, serif;
    overflow: hidden;
}

.zone {
    width: 50%;
    height: 100%;
    position: relative;
}

.outside {
    background-color: #dbf3c9
}

.inside {
    background-color: #f3d3d9
}

/* Character Styles */
.character {
    position: absolute;
    padding: 10px;
    background: white;
    border-radius: 5px;
    pointer-events: none;
    user-select: none;
    font-size: 24px;
    transform: translate(-50%, -50%);
}

.follow {
    outline: 2px dashed gray;
}

.trapped {
    background: var(--orange);
}